DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/fastvocabenlarge?sslmode=require"
AUTH_SECRET="replace-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
SENTRY_DSN=""
NEXT_PUBLIC_SENTRY_DSN=""
OPENAI_API_KEY=""
